body{
	width: 100%;
	height: 100%;
	background-color: #eee;
	display: table;
}
h1, h2, h3, h4 {
  font-family: 'Ranga', cursive;
}
.page-header{
  text-align: center;
}
.add-item{
  text-align: center;
	font-size: 400%;
}
.date {
  float: right;
  color: #828282;
}
.task-title {
  margin-top:	0;
  color: #0066ff
}
.edit {
  float: right;
  font-size: 170%;
  color: #0066ff
}
.accept {
  float: right;
  font-size: 170%;
  color: #00cc00
}
.remove {
  float: right;
  font-size: 170%;
  color: #999966
}
.list-group-item {
  width: 500px;
  margin: 0 auto;
  padding: 10px;
}
