{% load staticfiles %}


<link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/todolist.css' %}">


<html>
    <head>
        <title>TODO</title>
    </head>
    <body>
      <div class="jumbotron">
          <div class="page-header">
            <h1><a href="{% url 'task_list' %}">todo list</a></h1>
            <h2>keep things organized!</h2>
          </div>
          {% block content %}
          {% endblock %}
    </body>
