{% load staticfiles %}


<link href="https://fonts.googleapis.com/css?family=Ranga" rel="stylesheet">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/todolist.css' %}">


<html>
    <head>
        <title>TODO</title>
    </head>
    <body>
      <!--div id="wrapper"-->

      <div class="jumbotron">
          <div class="page-header">
            <h1>todo list</h1>
            <h2>keep things organized!<h2>
          </div>
            <div class="row">
              <div class="col-xs-6">
                {% for task in tasks %}
                <ul class="task">
                  <li class="list-group-item">
                    <a class="date">{{ task.created_date }}</a>
                    <h2 class="task-title">{{ task.title }}</h2>
                    <a href="" class="accept"><span class="glyphicon glyphicon-check"></span></a>
                    <a href="" class="edit"><span class="glyphicon glyphicon-edit"></span></a>
                    <p>{{ task.text|linebreaksbr }}</p>
                  </li>
                </ul>
                {% endfor %}
              </div>
              <div class="col-xs-6">
                {% for task in tasks %}
                <ul class="task">
                  <li class="list-group-item">
                    <div class="date">
                      {{ task.created_date }}
                    </div>
                    <h2><a href="">{{ task.title }}</a></h2>
                    <a class="accept"><span class="glyphicon glyphicon-pushpin"></span></a>
                    <p>{{ task.text|linebreaksbr }}</p>
                  </li>
                </ul>
                {% endfor %}
              </div>
            </div>
      <!--/div-->
    </body>
